<div class="container-border">
  <mat-card class="card-dialog">
    <mat-card-header>
        <mat-card-title>Agregar Meta</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formEditar">
        <mat-form-field appearance="fill" [style.width.%]="95">
            <mat-label id="nombre-input-label">Descripción Meta</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Ingrese un nombre" required>
            <!-- <mat-icon matSuffix>create</mat-icon> -->
            <mat-error *ngIf="formEditar.get('nombre').invalid">
              {{getErrorMessage(formEditar.get('nombre'))}}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" [style.width.%]="95">
            <mat-label id="desc-input-label">Asignación Presupuesto</mat-label>
            <textarea matInput formControlName="valor" placeholder="Ingrese un valor"
              required></textarea>
            <!-- <mat-icon matSuffix>create</mat-icon> -->
            <!-- <mat-error *ngIf="formEditar.get('descripcion').invalid">
              {{getErrorMessage(formEditar.get('descripcion'))}}
            </mat-error> -->
        </mat-form-field>
        <mat-card-actions style="text-align: center;">
            <ng-container>
                <button [disabled]="!formEditar.valid" mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                  [mat-dialog-close]="formEditar.value">
                  Guardar
                </button>
              </ng-container>
              <ng-container>
                <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3" (click)="close()">
                    Cancelar
                </button>
              </ng-container>
        </mat-card-actions>
    </form>
  </mat-card>
</div>

