.mat-card {
  background-color: #F1F5F8;
  display: block;
}

::ng-deep textarea.mat-input-element {
  color: #000000;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

table {
  width: 100%;
}

th {
  color: white;
  text-align: center;
}

.mat-table {
  border-radius: 7px;
}

.head-border {
  background: black;
}

.container-border {
  margin-top: 2em;
  border: 1px solid var(--primary);
  // border-top: 0px;
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
}

.container-border h1 {
  width: 43%;
  min-width: 133px;
  color: white;
  font-size: 16px;
  margin-top: -28px;
  margin-left: 7px;
  padding-left: 8px;
  background: var(--primary);
  position: relative;
  border-radius: 5px;
}

.container-border mat-card {
  width: auto;
  background: none;
}

.tabla-indicadores {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 7px;

  div {
    padding: 1%;
    border: 2px solid #D1D1D1;
    border-radius: 7px;
    width: 33%;
  }
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  justify-content: center;
}

td.mat-cell {
  border: 0.3px solid rgb(221, 221, 221);
}

th.mat-header-cell {
  border: 0.3px solid rgb(75, 23, 23);
  font-weight: bold;
}

th.secundaria {
  border: 0.3px solid var(--primary);
  background: #cda8a8;
  color: var(--primary);
  font-weight: bold;
}

th.descripcion {
  border: 0.3px solid #949494;
  background: #bdbdbd;
  color: #474747;
  padding: 1%;
}

.container-border mat-card mat-card-header {
  width: 40%;
  background: #f8cecc;
  color: var(--primary);
  justify-content: left;
  border-radius: 7px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 1%;
  font-size: 16px;
  min-width: 200px;
  border: 2px solid var(--primary);
  padding: 1px;
}

.container-border mat-card .titulo-tile {
  width: 100%;
  background: var(--primary);
  color: white;
  justify-content: center;
  border-radius: 3px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

mat-grid-list {
  margin-bottom: 40px;
}

mat-grid-tile {
  border-radius: 8px;
}

.desc-input-label {
  background: var(--primary);
  color: white;
  width: 43%;
}

.text-area {
  margin-bottom: 10px;
  width: 98%;
  text-align: center;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 20px;
}

.width-text {
  width: 29%;
  margin: 0% 1% 1% 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
  outline: none;
}

.width-label-trimestre {
  width: 60%;
  margin: 0% 0% 0% 1%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}

.evidencia {
  width: 65% !important;
}

.width-label {
  width: 15%;
  margin: 0% 0% 0% 1%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}

.table-evidencia {
  width: 60%;
}

.width-text-trimestre {
  margin-bottom: 2%;
  margin-top: 4px;
  width: 98%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 2px solid var(--primary);
  border-radius: 8px 8px 8px 8px;
  outline: none;
  height: 100%;
}

mat-grid-tile .width-text-trimestre {
  margin-bottom: auto;
  margin-top: auto;
  height: 75%;
  font-family: Arial, Helvetica, sans-serif;
}

.background-button {
  border-radius: 8px 8px 8px 8px;
  width: 29%;
  height: 40px;
  margin: 1%;
}

.align-button1 {
  position: absolute;
  margin: 2% 2% 2% 19%;
}

.align-button2 {
  position: absolute;
  margin: 2% 0% 2% 52%;
}

.container-button {
  width: 100%;
  height: 80px;
  margin-bottom: 1%;
}

.container-button3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  text-align: center;
  white-space: pre-line;
  -moz-text-align-last: left;
}

.align-button-enviar {
  margin-top: 2%;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.width-label-upload {
  background-color: var(--primary);
  color: white;
  border-radius: 8px 8px 8px 8px;
  width: 29%;
  height: 40px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  text-align: center;
  line-height: 36px;
}

.textGuide {
  background-color: #ffff;
  border: 1px solid var(--primary);
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.1em;
  padding: 1%;
  text-decoration: none;
  margin-bottom: 1%;
  width: 97%;
}

ng-container {
  vertical-align: middle;
}

.rowText {
  padding: 0px !important;
}