.mat-card{
  background-color: #F1F5F8;
  overflow-x: scroll;
  display: block;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

table {
  width: 100%;
}

th {
  color: white;
  text-align: center;
}

.campo {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
  background-color: #f1f5f800!important;
}

.mat-table{
  border-radius: 7px;
}

.head-border{
  background: black;
}

.td-align-right{
  text-align: right;
  justify-content: flex-end;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

.container-border{
  margin-top: 2em;
  border: 1px solid var(--primary);
  // border-top: 0px;
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
}

.container-border-comentarios{
  border: 1px solid var(--primary);
  // border-top: 0px;
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
  width: 80%;
}

.container-border-comentarios h1{
  width: 99%;
  color: var(--primary);
  font-size:16px;
  margin-top:-28px;
  margin-left:7px;
  padding-left: 8px;
  background:white;
  position: relative;
}

.subtitulo{
  background: #D1D1D1;
  border-radius: 8px;
  padding: 1%;
  color: black;
}

.tabla-indicadores{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 7px;
  div{
    padding: 1%;
    border: 2px solid #D1D1D1;
    border-radius: 7px;
    width: 33%;
  }
} 

.container-border h1{
  width: 43%;
  min-width: 133px;
  color: white;
  font-size:16px;
  margin-top:-28px;
  margin-left:7px;
  padding-left: 8px;
  background:var(--primary);
  position: relative;
  border-radius: 5px;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  width: 100%;
}

.container-border mat-card{
  width: 95%;
  background: none;
}

th.mat-header-cell, td.mat-cell{
  text-align: center;
  justify-content: center;
}

td.mat-cell{
  border: 0.3px solid rgb(221, 221, 221);
}

th.mat-header-cell{
  border: 0.3px solid rgb(75, 23, 23);
  font-weight: bold;
}

th.secundaria{
  border: 0.3px solid var(--primary);
  background: #cda8a8;
  color: var(--primary);
  font-weight: bold;
}

th.descripcion{
  border: 0.3px solid #949494;
  background: #bdbdbd;
  color: #474747;
  padding: 1%;
}

.container-border mat-card mat-card-header{
    width: 40%;
    background: #f8cecc;
    color: var(--primary);
    justify-content: left;
    border-radius: 7px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 1%;
    font-size: 16px;
    min-width: 200px;
    border: 2px solid var(--primary);
    padding: 1px;
}

.container-border mat-card .titulo-tile{
  width: 100%;
  background: var(--primary);
  color: white;
  justify-content: center;
  border-radius: 3px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.title-area{
  background:var(--primary);
  color:white;
  margin-bottom: 2%;
  margin-top: 4px;
  width: 98%;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid var(--primary);
  font-size: 15px;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  outline: none;
  height: 100%;
}

.contenedor{
  display:grid;
  grid-template-columns: repeat(2, 20%) 60%;
  grid-gap: 15px;
  grid-auto-rows: minmax(20px, 30px);
  margin-bottom: 50px;
  width: 98%;
}

.titulo{
  background: var(--primary);
  color: white;
}

mat-grid-list{
  margin-bottom: 40px;
}

mat-grid-tile{
  border-radius: 8px;
}

.desc-input-label{
  background: var(--primary);
  color: white;
  width: 43%;
}

.text-area{
  margin-bottom: 10px;
  width: 98%;
  text-align: center;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 20px;
}
.select-trimestre{
  border: 1px solid var(--primary);
  width: 70%;
  border-radius: 8px 8px 8px 8px;
  height: 20px;
  padding: 1%;
}
.width-button-archivo{
  position: absolute;
  width: 26%;
  margin: 0% 0% 0% 1%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 40px;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
  background-color: var(--primary);
}
.width-button-soporte{
  position: absolute;
  width: 17%;
  margin: 0% 0% 0% 1.5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  height: 75px;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
  background-color: var(--primary);
  align-items: center;
}
.label-evidencia{
  width: 100%;
}
.width-text{
  width: 29%;
  margin: 0% 1% 1% 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
  outline: none;
}
.width-label-trimestre{
  width: 60%;
  margin: 0% 0% 0% 1%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}
.evidencia{
  width: 65% !important;
}
.width-label{
  width: 15%;
  margin: 0% 0% 0% 1%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}

.table-evidencia{
  width: 60%;
}
.width-text{
  width: 15%;
  margin: 0% 0% 0% 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
  outline: none;
}
.width-text-trimestre{
  margin-bottom: 2%;
  margin-top: 4px;
  width: 98%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 2px solid var(--primary);
  border-radius: 8px 8px 8px 8px;
  outline: none;
  height: 100%;
}

mat-grid-tile .width-text-trimestre{
  margin-bottom: auto;
  margin-top: auto;
  height: 75%;
  font-family: Arial, Helvetica, sans-serif;
}

.width-text-documento{
  margin-bottom: 2%;
  margin-top: 4px;
  width: 60%;
  height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  border: 2px solid var(--primary);
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
  outline: none;
  overflow:hidden;
}
.background-button{
  border-radius: 8px 8px 8px 8px;
  width: 29%;
  height: 40px;
  margin: 1%;
}
.align-button1{
  position: absolute;
  margin: 2% 2% 2% 19%;
}
.align-button2{
  position: absolute;
  margin: 2% 0% 2% 52%;
}
.container-button{
  width: 100%;
  height: 80px;
  margin-bottom: 1%;
}
.container-button2{
  width: 100%;
  height: 50px;
  margin-bottom: 1%;
  margin-top: 2%;
}
.align-avance1{
  width: 29%;
  border: 1px solid var(--primary);
  position: absolute;
  margin: 2% 2% 2% 19%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}
.align-avance2{
  width: 29%;
  border: 1px solid var(--primary);
  position: absolute;
  margin: 2% 0% 2% 52%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}
.align-avance1-text{
  width: 29%;
  border: 1px solid var(--primary);
  position: absolute;
  margin: 0% 2% 2% 19%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}
.align-avance2-text{
  width: 29%;
  border: 1px solid var(--primary);
  position: absolute;
  margin: 0% 0% 2% 52%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  padding: 1%;
  border-radius: 8px 8px 8px 8px;
}
textarea {
  resize: none;
}
.boder-text{
  border: none;
  width: 40%;
  border: solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.margin-label {
  margin-left: 2%;
}
.align-button-enviar{
  margin-top: 2%;
  text-align: center;
}

.width-button-generate{
  width: 26%;
  margin: 0% 0% 0% 1%;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  height: 46px;
  border: 2px solid var(--primary);
  border-radius: 8px 8px 8px 8px;
  background-color: white;
  margin-left: 74%;
}

input[type="file"] {
  display: none;
}

.width-label-upload{
  border: 2px solid var(--primary);
  border-radius: 8px 8px 8px 8px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--primary);
  padding-bottom: 15px;
  position: relative;
  top: -25px;
}

.upload-input-container{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
  color: black;
  display: inline-block;
}

.icon-documento{
  border: 2px solid var(--primary);
  border-radius: 8px 8px 8px 8px;
  margin-left: 20px;
  position: relative;
  top: -5px;
}

.mat-icon{
  margin-bottom: 200%;
  margin-left: 0px;
  color: var(--primary);
  padding-top: 5px;
}

.input-autor{
  width: 80%;
}


.sameRow {
  border: 3px solid black;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 10px;
  font-size: 15px;
  color: var(--primary);
  border-radius: 8px;
  border-color: var(--primary);
  height: 80px;
  width: 100%;
}

.icon-estado{
  font-size: 40px;
}

.container-estado{
  display: block !important;
  margin: auto;
  width: 390px;
}