<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Reporte trimestre I</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
        <div class="container-border">
            <h1>Avance del indicador</h1>
            <div class="container-button">
                <textarea class="align-avance1" disabled>Avance en el periodo</textarea>
                <textarea class="align-avance2" disabled>Avance acumulado</textarea>
            </div>
            <div class="container-button">
                <textarea class="align-avance1-text" id="periodo" placeholder="%"></textarea>
                <textarea class="align-avance2-text" id="acumulado" placeholder="%"></textarea>
            </div>
        </div>
        <br>
        <br>
        <div class="container-border">
            <h1>Descripción cualitativa trimestre</h1>
            <mat-label id="desc-input-label">Producto </mat-label>
            <textarea class="width-text-trimestre" id="Producto" placeholder="Producto"></textarea>
            <mat-label id="desc-input-label label-evidencia">Evidencia </mat-label>
            <div>
                <textarea class="width-text-trimestre evidencia" id="Evidencia" placeholder="Evidencia"></textarea>
                <button *ngIsGranted="['JEFE_DEPENDENCIA']" class="width-button-archivo" mat-raised-button (click)="subirArchivo()">
                    <label>Adjuntar archivo</label>
                </button>
                <button *ngIsGranted="['PLANEACION']" class="width-button-archivo" mat-raised-button (click)="evidencias()">
                    <mat-icon >search</mat-icon>
                </button>
            </div>
            <mat-label id="desc-input-label">Logros </mat-label>
            <textarea class="width-text-trimestre" id="Logros" placeholder="Logros"></textarea>
            <mat-label id="desc-input-label">Dificultades </mat-label>
            <textarea class="width-text-trimestre" id="Dificultades" placeholder="Dificultades"></textarea>
            <mat-label id="desc-input-label">Observaciones </mat-label>
            <textarea class="width-text-trimestre" id="Observaciones" placeholder="Observaciones"></textarea>
        </div>
        <br>
        <div class="container-border" *ngIsGranted="['PLANEACION']">
            <h1>Observaciones planeacion</h1>
            <br>
            <div *ngIsGranted="['PLANEACION']" class="container-border-comentarios">
                <h1>Comentarios</h1>
                <textarea class="width-text-trimestre boder-text" id="Observaciones" placeholder="Comentarios"></textarea>
                <button *ngIsGranted="['PLANEACION']" class="width-button-soporte" mat-raised-button>
                    <label>Adjuntar soporte <mat-icon >attach_file</mat-icon></label>
                </button>
            </div>
            <br>
            <mat-label class="margin-label" id="desc-input-label">Quien da la respueta: </mat-label>
            <input class="plan-generar" type="text" matInput formControlName="plan-accion" required>
            <mat-label class="margin-label" id="desc-input-label">Rol: </mat-label>
            <input class="plan-generar" type="text" matInput formControlName="plan-accion" required>
            <br>
            <div class="align-button-enviar">
                <button class="btn-gestion-seg" mat-raised-button color="primary">Enviar</button>
            </div>
            <!-- <button *ngIsGranted="['PLANEACION']" class="width-button-soporte" mat-raised-button>
                <label>Adjuntar soporte <mat-icon >attach_file</mat-icon></label>
            </button> -->
        </div>
        <div class="container-button">
            <button class="background-button align-button1" mat-raised-button color="primary">Guardar</button>
            <button class="background-button align-button2" mat-raised-button color="primary">Regresar</button>
        </div>
    </mat-card-content>
</mat-card>