<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Meta Seleccionada de la Tabla Resumen Metas Plan</mat-card-title>
    </mat-card-header>   
    <br><br>
    <div class="container-border">
      <mat-form-field appearance="fill" [style.width.%]="100">
        <mat-label id="tipo-input-label">Seleccione la Meta del Proyecto de Inversión asociado</mat-label>
        <mat-select formControlName="selectMeta" (selectionChange)="onChangeM($event.value)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let meta of metas" [value]="meta">
                {{meta.descripcion}}
            </mat-option>
        </mat-select>
    </mat-form-field>        
    </div>   
    
</mat-card>

<mat-card class="card-oas-int">
    <!-- FORMULARIO -->
    <mat-card-content>
      <form [formGroup]="form">
        <mat-vertical-stepper>
          <mat-step *ngFor="let step of steps; let index = index; let last = last;">
            <ng-template matStepLabel>{{step.nombre}}</ng-template>
            <!-- PRIMER NIVEL -->
            <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'input'">
              <mat-label>Digite la información:</mat-label>
              <textarea matInput formControlName="{{step.id}}" placeholder="Escriba la información deseada"
                required="{{step.required}}" readonly="{{readOnlyAll}}"></textarea>
              <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'numeric'">
              <mat-label>Ingrese el valor:</mat-label>
              <input type="number" matInput formControlName="{{step.id}}" placeholder="Ingrese el valor numérico"
                required="{{step.required}}" readonly="{{readOnlyAll}}" step="0.01" value="0.00" pattern="^\d*(\.\d{0,2})?$">
              <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="step.type == 'select'">
              <mat-select formControlName="{{step.id}}"
                required="{{step.required}}" disabled="{{readOnlyAll}}">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let opt of step.options" [value]="opt.valor">
                  {{opt.valor}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
              *ngIf="step.type == 'button'" (click)="but()">Foo</button>
            <!-- OBSERVACIÓN -->
            <ng-container *ngIf="!hiddenObs">
              <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.sub == null || step.sub == []">
                <mat-label>Campo de observación:</mat-label>
                <textarea matInput formControlName="{{step.id+'_o'}}" placeholder="Escriba la observación"
                  required="false" readonly="{{readonlyObs}}"></textarea>
                <mat-icon matSuffix>create</mat-icon>
              </mat-form-field>
            </ng-container>
            <!-- SEGUNDO NIVEL -->
            <mat-accordion cdkDropList>
              <mat-expansion-panel *ngFor="let subs of step.sub" cdkDrag (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{subs.nombre}}
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- TERCER NIVEL -->
                <ng-container *ngIf="subs.sub">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let subpanel of subs.sub" (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>{{subpanel.nombre}}</mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'input'">
                        <mat-label>Digite la información:</mat-label>
                        <textarea matInput formControlName="{{subpanel.id}}"
                          placeholder="Escriba la información deseada" required="{{subpanel.required}}"
                          readonly="{{readOnlyAll}}"></textarea>
                        <mat-icon matSuffix>create</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'numeric'">
                        <mat-label>Ingrese el valor:</mat-label>
                        <input type="number" matInput formControlName="{{subpanel.id}}"
                          placeholder="Ingrese el valor numérico" required="{{subpanel.required}}"
                          readonly="{{readOnlyAll}}">
                        <mat-icon matSuffix>create</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subpanel.type == 'select'">
                        <mat-select formControlName="{{subpanel.id}}"
                          required="{{subpanel.required}}" disabled="{{readOnlyAll}}">
                          <mat-option value="">--</mat-option>
                          <mat-option *ngFor="let opt of subpanel.options" [value]="opt.valor">
                            {{opt.valor}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                        *ngIf="subpanel.type == 'button'" (click)="budisplayed_columns()">Foo</button>
                      <!-- OBSERVACIÓN -->
                      <ng-container *ngIf="!hiddenObs">
                        <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.sub == null || subpanel.sub == [] ">
                          <mat-label>Campo de observación:</mat-label>
                          <textarea matInput formControlName="{{subpanel.id+'_o'}}"
                            placeholder="Escriba la observación" required="false"
                            readonly="{{readonlyObs}}"></textarea>
                          <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                      </ng-container>
                    </mat-expansion-panel>
                  </mat-accordion>
                </ng-container>
                <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'input'">
                  <mat-label>Digite la información:</mat-label>
                  <textarea matInput formControlName="{{subs.id}}" placeholder="Escriba la información deseada"
                    required="{{subs.required}}" readonly="{{readOnlyAll}}"></textarea>
                  <mat-icon matSuffix>create</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'numeric'">
                  <mat-label>Ingrese el valor:</mat-label>
                  <input type="number" matInput formControlName="{{subs.id}}" placeholder="Ingrese el valor numérico"
                    required="{{subs.required}}" readonly="{{readOnlyAll}}">
                  <mat-icon matSuffix>create</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subs.type == 'select'">
                  <mat-select  formControlName="{{subs.id}}"
                    required="{{subs.required}}" disabled="{{readOnlyAll}}">
                    <mat-option value="">--</mat-option>
                    <mat-option *ngFor="let opt of subs.options" [value]="opt.valor">
                      {{opt.valor}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                  *ngIf="subs.type == 'button'" (click)="but()">Foo</button>
                <!-- OBSERVACIÓN -->
                <ng-container *ngIf="!hiddenObs">
                  <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.sub == null || subs.sub == []">
                    <mat-label>Campo de observación:</mat-label>
                    <textarea matInput formControlName="{{subs.id+'_o'}}" placeholder="Escriba la observación"
                      required="false" readonly="{{readonlyObs}}"></textarea>
                    <mat-icon matSuffix>create</mat-icon>
                  </mat-form-field>
                </ng-container>
              </mat-expansion-panel>
            </mat-accordion>
            <br><br>
            <u class="textGuide" *ngIf="last" [disabled]="!form.valid" style="text-align: center;">
              Para guardar los cambios realizados de clic en el botón guardar, de lo contrario de clic en cancelar
            </u>
            <div class="btn-formato">
              <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Volver</button>
              <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                *ngIf="!last" matStepperNext (click)="nextStep(index)">Siguiente</button>
              <br><br>
              <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                (click)="ocultar()">Cancelar</button>
              <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                *ngIf="last" [disabled]="!form.valid" (click)="actualizarMeta()">Actualizar</button>
              <!-- <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Atrás</button>
            <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!formStep.at(index).valid" (click)="nextStep(index)">Siguiente</button>
            <button *ngIf="last" class="btn btn-primary" [disabled]="!formStep.valid" type="submit">Guardar</button> -->
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </mat-card-content>
</mat-card>
