container-border {
    border: 1px solid var(--primary);
    padding: 1%;
    border-radius: 15px 15px 15px 15px;
}

.contenedor {
    text-align: center;
}

.mat-raised-button {
    display: block !important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}