<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
  "
  *ngIf="mostrarGrafica"
>
  <google-chart
    [type]="columnType"
    [data]="lineChartData"
    style="width: 70%"
    dynamicResize="true"
    height="400"
    [columns]="lineChartColumnNames"
    [options]="lineChartOptions"
  ></google-chart>
  <div class="small-content" style="width: 20%;">
    <mat-card-title>Colores por porcentajes</mat-card-title>
    <img src="assets/svg/avance-porcentaje.svg">
  </div>
</div>
<br>
<mat-card-title *ngIf="mostrarTabla">
  Reporte avance promedio del plan: {{ plan.nombre.toUpperCase() }}
</mat-card-title>
<br>
<app-tabla-resumen-evaluacion
  *ngIf="mostrarTabla"
  [dataSource]="infoTabla"
  style="width: 100%"
></app-tabla-resumen-evaluacion>
