.small-content {
  background-color: #FFF;
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  padding: 32px;

  mat-card-title {
    font-size: 20px;
    text-align: center;
  }

  img {
    height: auto;
  }
}
