<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Identificación de actividades y recursos</mat-card-title>
    </mat-card-header>  
    <br>
    <mat-card-content>
        <u class="textGuide">
            A continuación usted deberá realizar la programación de actividades para la meta correspondiente.
        </u>
    </mat-card-content> 
   
    <!-- <mat-card class="flex">
        <mat-card-content class="cardInfo">Código proyecto</mat-card-content>
        <mat-card-content class="cardInfo">Nombre Proyecto</mat-card-content>
        <mat-card-content class="cardInfo">Recurso total fuentes ($)</mat-card-content>        
    </mat-card>  -->
    <div  [formGroup]="formProyect">
      <mat-grid-list cols="3"  gutterSize="4px" rowHeight="30px">
        <mat-grid-tile colspan="1" class="head">           
            <mat-label class="head-label">Código proyecto</mat-label>      
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="head">        
            <mat-label class="head-label">Nombre Proyecto</mat-label>            
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="head">          
            <mat-label class="head-label">Recurso total fuentes ($)</mat-label>                
        </mat-grid-tile>      
        <mat-grid-tile>            
            <mat-label><input class="input"  matInput  maxlength="256" formControlName="codigo" readonly required></mat-label>       
        </mat-grid-tile>
        <mat-grid-tile>            
            <mat-label><input class="input" matInput  maxlength="256" formControlName="name"  readonly required></mat-label>
        </mat-grid-tile>
        <mat-grid-tile>            
            <mat-label><input class="input" matInput  maxlength="256" formControlName="valorFuentes" readonly required></mat-label>            
        </mat-grid-tile>      
      </mat-grid-list>   
      <br>
      
        <mat-grid-list cols="3"  gutterSize="4px" rowHeight="30px">
          <mat-grid-tile colspan="3" class="head">           
              <mat-label class="head-label">Meta seleccionada</mat-label>      
          </mat-grid-tile>
          <mat-grid-tile colspan="3" rowspan="2">            
            <mat-label><input class="input" matInput  maxlength="256" formControlName="meta" readonly required></mat-label>       
        </mat-grid-tile>
      </mat-grid-list>
  </div>    
  <br><br>
    <div class="container-border">
      <mat-form-field appearance="fill" [style.width.%]="100">
        <mat-label id="tipo-input-label">Seleccione la plantilla de interes para las actividades</mat-label>
        <mat-select (selectionChange)="onChangeA($event.value)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let actividad of actividades" [value]="actividad">
                {{actividad.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <mat-card>
        <mat-card-content class="cardInfo meta">Agregar Actividad</mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="posicion" class="num">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element" class="num">{{element.posicion}}
                  <td mat-footer-cell *matFooterCellDef></td>
                    <!-- <p *ngIf="element.index!=undefined">
                        {{element.index}}
                    </p>
                    <p *ngIf="element.index==undefined">
                        {{rowIndex+1}}
                    </p> -->
                
                <td mat-footer-cell *matFooterCellDef class="footer">
                    {{step.footer}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actividad">
                <th mat-header-cell *matHeaderCellDef > Actividad</th>
                <td mat-cell *matCellDef="let row"> {{row.actividad}} </td>
                <td mat-footer-cell *matFooterCellDef class ="footcol"> Total Estimado </td>
            </ng-container>
            <ng-container matColumnDef="ponderacion">
                <th mat-header-cell *matHeaderCellDef > Ponderación V </th>
                <td mat-cell *matCellDef="let row"> {{row.ponderacion / 100 | percent}} </td>
                <td mat-footer-cell *matFooterCellDef><div class="totalPre">{{getTotalPonderacion()}} </div></td> 
            </ng-container>
            <ng-container matColumnDef="presupuesto">
                <th mat-header-cell *matHeaderCellDef > Presupuesto </th>
                <td mat-cell *matCellDef="let row"> {{row.presupuesto}} </td>
                <td mat-footer-cell *matFooterCellDef><div class="totalPre">{{getTotalPresupuesto() | currency}} </div></td> 
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef >
                    <button class="material-icons"
                        matTooltip="Agregar elemento" matTooltipPosition="right" mat-icon-button
                        (click)="cargaFormato()" [disabled]="addActividad || estadoPlan != 'En formulación'"
                        *ngIsGranted="['JEFE_DEPENDENCIA','ASISTENTE_DEPENDENCIA']">
                        <mat-icon>add_box</mat-icon>
                    </button>
                </th>
                <!-- <th mat-header-cell *matHeaderCellDef class="header-align-right"> Acciones </th> -->
                <td mat-cell *matCellDef="let row" class="td-align-right">
                    <button mat-raised-button color="primary" (click)="editar(row)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="programacionPresupuestal(row)" color="primary"><mat-icon>add_box</mat-icon></button>
                    <!-- <button mat-icon-button (click)="editar(row)"><mat-icon>edit</mat-icon></button> -->
                    <button mat-icon-button (click)="inactivar(row)" color="primary" [disabled]="addActividad || estadoPlan != 'En formulación'"
                    *ngIsGranted="['JEFE_DEPENDENCIA','ASISTENTE_DEPENDENCIA']"><mat-icon>delete</mat-icon></button>
                    
               </td>
               <td mat-footer-cell *matFooterCellDef><div class="totalPre"></div></td> 
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No se han encontrado resultados para la búsqueda</td>
            </tr>
        </table>        
    </mat-card>
    <br><br>
    <div *ngIf="plantilla == true">
        <mat-card class="card-oas-int">
            <!-- FORMULARIO -->
            <mat-card-content>
              <form [formGroup]="form">
                <mat-vertical-stepper>
                  <mat-step *ngFor="let step of steps; let index = index; let last = last;">
                    <ng-template matStepLabel>{{step.nombre}}</ng-template>
                    <!-- PRIMER NIVEL -->
                    <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'input'">
                      <mat-label>Digite la información:</mat-label>
                      <textarea matInput formControlName="{{step.id}}" placeholder="Escriba la información deseada"
                        required="{{step.required}}" readonly="{{readOnlyAll}}"></textarea>
                      <mat-icon matSuffix>create</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'numeric'">
                      <mat-label>Ingrese el valor:</mat-label>
                      <input type="number" matInput formControlName="{{step.id}}" placeholder="Ingrese el valor numérico"
                        required="{{step.required}}" readonly="{{readOnlyAll}}" step="0.01" value="0.00" pattern="^\d*(\.\d{0,2})?$">
                      <mat-icon matSuffix>create</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="step.type == 'select'">
                      <mat-select (selectionChange)="onChangeSelect($event.value)" formControlName="{{step.id}}"
                        required="{{step.required}}" disabled="{{readOnlyAll}}">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let opt of step.options" [value]="opt.valor">
                          {{opt.valor}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                      *ngIf="step.type == 'button'" (click)="but()">Foo</button>
                    <!-- OBSERVACIÓN -->
                    <ng-container *ngIf="!hiddenObs">
                      <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.sub == null || step.sub == []">
                        <mat-label>Campo de observación:</mat-label>
                        <textarea matInput formControlName="{{step.id+'_o'}}" placeholder="Escriba la observación"
                          required="false" readonly="{{readonlyObs}}"></textarea>
                        <mat-icon matSuffix>create</mat-icon>
                      </mat-form-field>
                    </ng-container>
                    <!-- SEGUNDO NIVEL -->
                    <mat-accordion cdkDropList>
                      <mat-expansion-panel *ngFor="let subs of step.sub" cdkDrag (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{subs.nombre}}
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!-- TERCER NIVEL -->
                        <ng-container *ngIf="subs.sub">
                          <mat-accordion>
                            <mat-expansion-panel *ngFor="let subpanel of subs.sub" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{subpanel.nombre}}</mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'input'">
                                <mat-label>Digite la información:</mat-label>
                                <textarea matInput formControlName="{{subpanel.id}}"
                                  placeholder="Escriba la información deseada" required="{{subpanel.required}}"
                                  readonly="{{readOnlyAll}}"></textarea>
                                <mat-icon matSuffix>create</mat-icon>
                              </mat-form-field>
                              <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'numeric'">
                                <mat-label>Ingrese el valor:</mat-label>
                                <input type="number" matInput formControlName="{{subpanel.id}}"
                                  placeholder="Ingrese el valor numérico" required="{{subpanel.required}}"
                                  readonly="{{readOnlyAll}}">
                                <mat-icon matSuffix>create</mat-icon>
                              </mat-form-field>
                              <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subpanel.type == 'select'">
                                <mat-select (selectionChange)="onChangeSelect($event.value)" formControlName="{{subpanel.id}}"
                                  required="{{subpanel.required}}" disabled="{{readOnlyAll}}">
                                  <mat-option value="">--</mat-option>
                                  <mat-option *ngFor="let opt of subpanel.options" [value]="opt.valor">
                                    {{opt.valor}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                                *ngIf="subpanel.type == 'button'" (click)="budisplayed_columns()">Foo</button>
                              <!-- OBSERVACIÓN -->
                              <ng-container *ngIf="!hiddenObs">
                                <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.sub == null || subpanel.sub == [] ">
                                  <mat-label>Campo de observación:</mat-label>
                                  <textarea matInput formControlName="{{subpanel.id+'_o'}}"
                                    placeholder="Escriba la observación" required="false"
                                    readonly="{{readonlyObs}}"></textarea>
                                  <mat-icon matSuffix>create</mat-icon>
                                </mat-form-field>
                              </ng-container>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </ng-container>
                        <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'input'">
                          <mat-label>Digite la información:</mat-label>
                          <textarea matInput formControlName="{{subs.id}}" placeholder="Escriba la información deseada"
                            required="{{subs.required}}" readonly="{{readOnlyAll}}"></textarea>
                          <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'numeric'">
                          <mat-label>Ingrese el valor:</mat-label>
                          <input type="number" matInput formControlName="{{subs.id}}" placeholder="Ingrese el valor numérico"
                            required="{{subs.required}}" readonly="{{readOnlyAll}}">
                          <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subs.type == 'select'">
                          <mat-select (selectionChange)="onChangeSelect($event.value)" formControlName="{{subs.id}}"
                            required="{{subs.required}}" disabled="{{readOnlyAll}}">
                            <mat-option value="">--</mat-option>
                            <mat-option *ngFor="let opt of subs.options" [value]="opt.valor">
                              {{opt.valor}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                          *ngIf="subs.type == 'button'" (click)="but()">Foo</button>
                        <!-- OBSERVACIÓN -->
                        <ng-container *ngIf="!hiddenObs">
                          <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.sub == null || subs.sub == []">
                            <mat-label>Campo de observación:</mat-label>
                            <textarea matInput formControlName="{{subs.id+'_o'}}" placeholder="Escriba la observación"
                              required="false" readonly="{{readonlyObs}}"></textarea>
                            <mat-icon matSuffix>create</mat-icon>
                          </mat-form-field>
                        </ng-container>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <br><br>
                    <u class="textGuide" *ngIf="last" [disabled]="!form.valid" style="text-align: center;">
                      Para guardar los cambios realizados de clic en el botón guardar, de lo contrario de clic en cancelar
                    </u>
                    <div class="btn-formato">
                      <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                        *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Volver</button>
                      <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                        *ngIf="!last" matStepperNext (click)="nextStep(index)">Siguiente</button>
                      <br><br>
                      <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                        (click)="cancelar()">Cancelar</button>
                      <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                        *ngIf="last" [disabled]="!form.valid" (click)="submit()">Guardar</button>
                      <!-- <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Atrás</button>
                    <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!formStep.at(index).valid" (click)="nextStep(index)">Siguiente</button>
                    <button *ngIf="last" class="btn btn-primary" [disabled]="!formStep.valid" type="submit">Guardar</button> -->
                    </div>
                  </mat-step>
                </mat-vertical-stepper>
              </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="plantillaActual == true">
      <mat-card class="card-oas-int">
          <!-- FORMULARIO -->
          <mat-card-content>
            <form [formGroup]="form">
              <mat-vertical-stepper>
                <mat-step *ngFor="let step of steps; let index = index; let last = last;">
                  <ng-template matStepLabel>{{step.nombre}}</ng-template>
                  <!-- PRIMER NIVEL -->
                  <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'input'">
                    <mat-label>Digite la información:</mat-label>
                    <textarea matInput formControlName="{{step.id}}" placeholder="Escriba la información deseada"
                      required="{{step.required}}" readonly="{{readOnlyAll}}"></textarea>
                    <mat-icon matSuffix>create</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.type == 'numeric'">
                    <mat-label>Ingrese el valor:</mat-label>
                    <input type="number" matInput formControlName="{{step.id}}" placeholder="Ingrese el valor numérico"
                      required="{{step.required}}" readonly="{{readOnlyAll}}" step="0.01" value="0.00" pattern="^\d*(\.\d{0,2})?$">
                    <mat-icon matSuffix>create</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="step.type == 'select'">
                    <mat-select (selectionChange)="onChangeSelect($event.value)" formControlName="{{step.id}}"
                      required="{{step.required}}" disabled="{{readOnlyAll}}">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let opt of step.options" [value]="opt.valor">
                        {{opt.valor}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                    *ngIf="step.type == 'button'" (click)="but()">Foo</button>
                  <!-- OBSERVACIÓN -->
                  <ng-container *ngIf="!hiddenObs">
                    <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="step.sub == null || step.sub == []">
                      <mat-label>Campo de observación:</mat-label>
                      <textarea matInput formControlName="{{step.id+'_o'}}" placeholder="Escriba la observación"
                        required="false" readonly="{{readonlyObs}}"></textarea>
                      <mat-icon matSuffix>create</mat-icon>
                    </mat-form-field>
                  </ng-container>
                  <!-- SEGUNDO NIVEL -->
                  <mat-accordion cdkDropList>
                    <mat-expansion-panel *ngFor="let subs of step.sub" cdkDrag (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{subs.nombre}}
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <!-- TERCER NIVEL -->
                      <ng-container *ngIf="subs.sub">
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let subpanel of subs.sub" (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                              <mat-panel-title>{{subpanel.nombre}}</mat-panel-title>
                              <mat-panel-description>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'input'">
                              <mat-label>Digite la información:</mat-label>
                              <textarea matInput formControlName="{{subpanel.id}}"
                                placeholder="Escriba la información deseada" required="{{subpanel.required}}"
                                readonly="{{readOnlyAll}}"></textarea>
                              <mat-icon matSuffix>create</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.type == 'numeric'">
                              <mat-label>Ingrese el valor:</mat-label>
                              <input type="number" matInput formControlName="{{subpanel.id}}"
                                placeholder="Ingrese el valor numérico" required="{{subpanel.required}}"
                                readonly="{{readOnlyAll}}">
                              <mat-icon matSuffix>create</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subpanel.type == 'select'">
                              <mat-select (selectionChange)="onChangeSelect($event.value)" formControlName="{{subpanel.id}}"
                                required="{{subpanel.required}}" disabled="{{readOnlyAll}}">
                                <mat-option value="">--</mat-option>
                                <mat-option *ngFor="let opt of subpanel.options" [value]="opt.valor">
                                  {{opt.valor}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                              *ngIf="subpanel.type == 'button'" (click)="budisplayed_columns()">Foo</button>
                            <!-- OBSERVACIÓN -->
                            <ng-container *ngIf="!hiddenObs">
                              <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subpanel.sub == null || subpanel.sub == [] ">
                                <mat-label>Campo de observación:</mat-label>
                                <textarea matInput formControlName="{{subpanel.id+'_o'}}"
                                  placeholder="Escriba la observación" required="false"
                                  readonly="{{readonlyObs}}"></textarea>
                                <mat-icon matSuffix>create</mat-icon>
                              </mat-form-field>
                            </ng-container>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </ng-container>
                      <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'input'">
                        <mat-label>Digite la información:</mat-label>
                        <textarea matInput formControlName="{{subs.id}}" placeholder="Escriba la información deseada"
                          required="{{subs.required}}" readonly="{{readOnlyAll}}"></textarea>
                        <mat-icon matSuffix>create</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.type == 'numeric'">
                        <mat-label>Ingrese el valor:</mat-label>
                        <input type="number" matInput formControlName="{{subs.id}}" placeholder="Ingrese el valor numérico"
                          required="{{subs.required}}" readonly="{{readOnlyAll}}">
                        <mat-icon matSuffix>create</mat-icon>
                      </mat-form-field>
                      <mat-form-field appearance="fill" [style.width.%]="100" *ngIf="subs.type == 'select'">
                        <mat-select (selectionChange)="onChangeSelect($event.value)" formControlName="{{subs.id}}"
                          required="{{subs.required}}" disabled="{{readOnlyAll}}">
                          <mat-option value="">--</mat-option>
                          <mat-option *ngFor="let opt of subs.options" [value]="opt.valor">
                            {{opt.valor}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                        *ngIf="subs.type == 'button'" (click)="but()">Foo</button>
                      <!-- OBSERVACIÓN -->
                      <ng-container *ngIf="!hiddenObs">
                        <mat-form-field appearance="outline" [style.width.%]="100" *ngIf="subs.sub == null || subs.sub == []">
                          <mat-label>Campo de observación:</mat-label>
                          <textarea matInput formControlName="{{subs.id+'_o'}}" placeholder="Escriba la observación"
                            required="false" readonly="{{readonlyObs}}"></textarea>
                          <mat-icon matSuffix>create</mat-icon>
                        </mat-form-field>
                      </ng-container>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <br><br>
                  <u class="textGuide" *ngIf="last" [disabled]="!form.valid" style="text-align: center;">
                    Para guardar los cambios realizados de clic en el botón guardar, de lo contrario de clic en cancelar
                  </u>
                  <div class="btn-formato">
                    <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                      *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Volver</button>
                    <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                      *ngIf="!last" matStepperNext (click)="nextStep(index)">Siguiente</button>
                    <br><br>
                    <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                      (click)="cancelar()">Cancelar</button>
                    <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
                      *ngIf="last" [disabled]="!form.valid" (click)="actualizarActividad()">Actualizar</button>
                    <!-- <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Atrás</button>
                  <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!formStep.at(index).valid" (click)="nextStep(index)">Siguiente</button>
                  <button *ngIf="last" class="btn btn-primary" [disabled]="!formStep.valid" type="submit">Guardar</button> -->
                  </div>
                </mat-step>
              </mat-vertical-stepper>              
            </form>
          </mat-card-content>          
      </mat-card>
      
  </div>
  <button mat-raised-button class="btn-formato" color="primary" type="submit" class="col-3 mt-2 mb-3"
  (click)="cancelar()">Regresar</button>