.textGuide{
  background-color: #ffff;
  border: 1px solid var(--primary);
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.1em;
  padding: 1%;
  text-decoration: none;
  margin-bottom: 1%;
  width: 97%;
}

.input-search{
  width: 99%;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
}

.input {     
  text-align: center !important;
  //background-color: rgb(145, 35, 35);
}

.head-label {
  color: white;
}

.btn-formato{
  text-align: center;
 }

.container-border {
    margin: 3% 0% 0% 0%;
    border: 1px solid var(--primary);
    padding: 1%;
    border-radius: 15px 15px 15px 15px;     
  }

// .container-border h4 {
//     width: 5%;
//     color: var(--primary);
//     font-size: 16px;
//     margin-top: -28px;
//     margin-left: 7px;
//     padding-left: 8px;
//     background: #F1F5F8;
//     position: relative;
//   }

.container-border h4 {
  width: fit-content;
  color: var(--primary);
  font-size: 16px;
  margin-top: -2vw;
  margin-bottom: 10px;
  margin-left: 7px;
  padding: 0.5%;
  background: white;
  position: relative;
  text-align: center;
  font-weight: normal;
}

.container-border-for {
    margin: 3% 0% 0% 0%;
    border: 1px solid var(--primary);
    padding: 1%;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
  }  

.container-border-for h4 {
    width: 12%;
    color: var(--primary);
    font-size: 16px;
    margin-top: -28px;
    margin-left: 7px;
    padding-left: 8px;
    background: #F1F5F8;
    position: relative;
}

.titulo {
    width: 28%;
    color: var(--primary);
    font-size: 16px;
    margin-top: -23px;
    margin-left: 7px;
    padding-left: 8px;
    background: #F1F5F8;
    text-align: center;
    position: relative;
}

.mat-card{
    background-color: #F1F5F8;
  }
  
  
  table {
      width: fit-content;
      margin-bottom: 2%;
  }
  
  .head {     
      text-align: center !important;
      background-color: rgb(145, 35, 35);
  }

  
  
  .inText {
    color: gray;    
  }

  mat-grid-tile {
    border: 1px solid var(--primary);
    
  }
  
  .text-area {
    width: 100%;
  }
  td{
    text-align: justify;
  }
  
  .td-align-left{
    text-align: center;
    vertical-align: middle !important;
  }
  
  .td-align-right{
    text-align: center;
  }
  
  .header-align-right{
    padding: 21px 0;
  
  }
  
  
  
  .mat-raised-button{
    text-align: center !important;
    margin: 1%;
    width: 20%;
    align-self: center;
    display: inline;
  }  
  
  
  // #box {
  //   border: 3px solid;
  // }
  
  // .container {
  //   width: 200px;
  //   vertical-align: middle;
  //   align-content: center;
  //   justify-content: center;
  //   text-align: center;
  // }
  // .flex {
  //   width: 99%;
  //   border: 1px solid var(--primary);
  //   border-radius: 15px 15px 15px 15px;
  //   display: flex;
  //   vertical-align: middle;
  //   align-content: center;
  //   justify-content:space-around;
  //   text-align: center;
  //   background-color: white;
  // }
  
  // .sameRow {
  //   border: 3px solid black;
  //   justify-content: center;
  //   text-align: center;
  //   align-content: center;
  //   vertical-align: middle;
  //   padding: 10px;
  //   font-size: 15px;
  //   margin-top: 2%;
  //   margin-right: 5%;
  //   color: var(--primary);
  //   border-radius: 8px;
  //   border-color: var(--primary);
  // }
  
  // .container{
  //   display: block !important;
  //   margin-top: 30px;
  //   margin-bottom: 30px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 50%;
  // }
  
  // .notice{
  //   display:  block !important;
  //   width: fit-content;
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  //   margin-left: 30px;
  //   margin-right: auto;
  //   background-color: lightyellow;
  //   font-style: oblique;
  // }
  
  // .icon-estado{
  //   font-size: 40px;
  // }
  
  
  
  
  // .toggle{
  //   margin-left: 10%;
  //   color: var(--primary);
  // }
  
  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--primary);
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(145, 35, 35);
  }
  
  th {
    color: white;
    text-align: center;    
  }

  th.mat-header-cell{
    text-align: center;
    word-wrap: initial;
    padding: 0px 5px;    
    //height: max-content;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
    color: white;
  }

  

 

  tbody td:nth-child(even) {
    background-color: #E7D6D6;
}

.textareaContenido {
  width: -webkit-fill-available;
  height: 150px;
  margin: -5px 0px;
  border: none;
  outline: none;
  text-align: justify;
  background: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  resize: vertical;
}

textarea {
  resize: none;
  text-align: center;
  white-space: pre-line;
  //-moz-text-align-last: left;
}

  
  // mat-form-field {
  //   width: 100;
  //   text-align: center;
    
  // }

  
  
  
  
  
  
  