<h2>Borrar notificaciones</h2>
<form [formGroup]="formularioBorrar" (ngSubmit)="onSubmitformularioBorrar()">
  <mat-form-field>
    <input matInput placeholder="Nombre de cola" formControlName="nameCola" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Id de la notificación" formControlName="idNotificacion" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Borrar notificacion</button>
</form>

<br><hr><br>

<h2>Consultar notificaciones</h2>
<form [formGroup]="formularioConsulta" (ngSubmit)="onSubmitformularioConsulta()">
    <mat-form-field>
        <input matInput placeholder="Nombre de la cola" formControlName="nombreCola" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Consultar notificación</button>
</form>