<mat-card class="card-oas">
	<div class="container-border">
		<mat-card-header>
			<mat-card-title>Consulta de fechas</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<u class="textGuide">
				En esta sección usted podrá visualizar visualizar las fechas parametrizadas por el Jefe de Planeación
				para una determinada vigencia, unidad, proceso, y plan.
			</u>
		</mat-card-content>
		<form [formGroup]="formFechas">
			<mat-form-field appearance="fill" class="selects-field">
				<mat-label>Seleccione la vigencia</mat-label>
				<mat-select (selectionChange)="onChangeVigencia($event.value)" [formControl]="selectVigencia">
					<mat-option>--</mat-option>
					<mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
						{{vigencia.Nombre}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" class="selects-field">
				<mat-label>Seleccione la unidad</mat-label>
				<mat-select (selectionChange)="onChangeUnidad($event.value)" [formControl]="selectUnidad">
					<input (keyup)="onKey($event.target.value, 'unidad')" class="input-search">
					<mat-option>--</mat-option>
					<mat-option *ngFor="let unidad of auxUnidades" [value]="unidad">
						{{unidad.Nombre}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" class="selects-field">
				<mat-label>Seleccione el tipo de plan</mat-label>
				<mat-select (selectionChange)="onChangeTipoPlan($event.value)" [formControl]="selectTipoPlan">
					<mat-option>--</mat-option>
					<mat-option *ngFor="let tipoPlan of tiposPlanes" [value]="tipoPlan">
						{{tipoPlan.Etiqueta}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" class="selects-field">
				<mat-label>Seleccione el plan</mat-label>
				<mat-select (selectionChange)="onChangePlan($event.value)" [formControl]="selectPlan">
					<input (keyup)="onKey($event.target.value, 'plan')" class="input-search">
					<mat-option>--</mat-option>
					<mat-option *ngFor="let plan of auxPlanes" [value]="plan">
						{{plan.nombre}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="fill" class="selects-field">
				<mat-label>Seleccione el proceso (Formulación/Seguimiento)</mat-label>
				<mat-select (selectionChange)="onChangeTipoProceso($event.value)" [formControl]="selectTipoProceso">
					<mat-option>--</mat-option>
					<mat-option *ngFor="let tipoProceso of tiposProcesos" [value]="tipoProceso">
						{{tipoProceso.Etiqueta}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</form>
		<mat-card-content>
			<mat-card-footer style="text-align: center;">
				<button mat-raised-button color="primary" [disabled]="!buscarDisabled()" (click)="buscarFechas()">
					Buscar
				</button>
				<button mat-raised-button color="primary">
					Limpiar
				</button>
			</mat-card-footer>
		</mat-card-content>
	</div>
</mat-card>