.text-justify {
    text-align: justify;
    margin-left: 1rem;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-radio-label {
    white-space: normal !important;
}

.mat-list-item-conten {
    align-items: baseline;
}