<!-- SELECCIÓN MENÚ PRINCIPAL -->
<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Formulación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <u class="textGuide">
            A continuación usted deberá diligenciar la información necesaria para realizar una completa formulación de su PLAN DE ACCIÓN DE INVERSIÓN.
        </u>
    </mat-card-content>
    <ng-container>
        <div class="container">
          <div class="flex">
            <div class="sameRow" style="vertical-align: middle;" [style.width.%]="60">Estado del plan: {{"assignment_turned_in"}}
              <br>
              <mat-icon class="icon-estado">{{"assignment_turned_in"}}</mat-icon>
            </div>
            <div class="sameRow" [style.width.%]="80">
              <mat-form-field appearance="fill" [style.width.%]="80">
                <mat-label id="tipo-input-label">Versiones</mat-label>
                <mat-select (selectionChange)="onChange($event.value)" [formControl]="">
                  <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
                    Versión {{version.numero}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>
    <mat-card-content>
        <form [formGroup]="formArmonizacion">
            <div class="container-border">
                <h2 class="titulo">Armonización general del Plan de Acción</h2>
                <div class="container-border">
                    <mat-card-content>
                        <u class="textGuide">
                            Armonización Proyectos de Inversión
                        </u>
                    </mat-card-content>
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label id="tipo-input-label">Seleccione el Proyecto de Inversión asociado</mat-label>
                        <mat-select formControlName="selectPrIn" (selectionChange)="onChangePrIn($event.value)">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let proIn of proyectosInversion" [value]="proIn">
                                {{proIn.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div> 
                <div class="container-border">
                    <mat-card-content>
                        <u class="textGuide">
                            Armonización Plan de Desarrollo Distrital
                        </u>
                    </mat-card-content>
                    <mat-form-field class="select-armo" appearance="fill" [style.width.%]="100">
                      <mat-label id="tipo-input-label">Seleccione el plan de desarrollo distrital</mat-label>
                      <mat-select formControlName="selectPDD" (selectionChange)="onChangePDD($event.value)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let planDD of planesDesarrolloDistrital" [value]="planDD">
                          {{planDD.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <app-arbol *ngIf="tipoPlanId !== undefined && tipoPlanId != ''" [tipoPlanId]="tipoPlanIdDD" [idPlan]="idPadreDD"
                    [dataArmonizacion]="dataArmonizacionPDD" [consulta]="false" [armonizacionPED]="true" [estado]="estadoPlan"
                    [armonizacionPI]="false" (grupo)="receiveMessagePDD($event)" [updateSignal]="eventChange"></app-arbol>
                </div> 
                <div class="container-border">
                    <mat-card-content>
                        <u class="textGuide">
                            Armonización Plan Estrategico de Desarrollo
                        </u>
                    </mat-card-content>
                    <mat-form-field class="select-armo" appearance="fill" [style.width.%]="100">
                      <mat-label id="tipo-input-label">Seleccione el plan estrategico de desarrollo</mat-label>
                      <mat-select formControlName="selectPED" (selectionChange)="onChangePD($event.value)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let planD of planesDesarrollo" [value]="planD">
                          {{planD.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <app-arbol *ngIf="tipoPlanId !== undefined && tipoPlanId != ''" [tipoPlanId]="tipoPlanId" [idPlan]="idPadre"
                    [dataArmonizacion]="dataArmonizacionPED" [consulta]="false" [armonizacionPED]="true" [estado]="estadoPlan"
                    [armonizacionPI]="false" (grupo)="receiveMessage($event)" [updateSignal]="eventChange"></app-arbol>
                </div>  
                <div class="container-border">
                    <mat-card-content>
                        <u class="textGuide">
                            Armonización Plan Indicativo
                        </u>
                    </mat-card-content>
                    <mat-form-field class="select-armo" appearance="fill" [style.width.%]="100">
                      <mat-label id="tipo-input-label">Seleccione el plan indicativo</mat-label>
                      <mat-select formControlName="selectPI" (selectionChange)="onChangePI($event.value)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let planI of planesIndicativos" [value]="planI">
                          {{planI.nombre}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <app-arbol *ngIf="tipoPlanIndicativo !== undefined && tipoPlanIndicativo !== ''"
                    [tipoPlanId]="tipoPlanIndicativo" [idPlan]="idPlanIndicativo" [dataArmonizacion]="dataArmonizacionPI"
                    [consulta]="false" [armonizacionPED]="false" [armonizacionPI]="true" [estado]="estadoPlan" (grupo)="receiveMessagePI($event)"
                    [updateSignal]="eventChange"></app-arbol>                  
                </div> 
                <div style="margin: 1rem; text-align: center;" *ngIf="planDDSelected == true && planDSelected == true && planISelected == true && proyectSelected == true">
                  <button  class="footbtn" mat-raised-button color="primary" (click)="guardar()">Confirmar</button>
                </div>  
                            
            </div>          
            
        </form>
    </mat-card-content>    
</mat-card>
<br><br>

<mat-card class="container-border">
  <mat-card-header>
    <h2 class="titulo">Listado de metas relacionadas</h2>
  </mat-card-header>
  <table mat-table [dataSource]="dataMetas" matSort>
    <ng-container matColumnDef="Posicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>     
      <td  mat-cell *matCellDef="let row">{{row.Posicion}}</td> 
      <td mat-footer-cell *matFooterCellDef></td>     
    </ng-container>
    <ng-container matColumnDef="Meta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="metas">Meta</th>      
      <td  mat-cell *matCellDef="let row"> {{row.Meta}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="TipodeMeta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="metas"> Tipo de Meta </th>      
      <td mat-cell *matCellDef="let row"> {{row.TipodeMeta}} </td>  
      <td mat-footer-cell *matFooterCellDef class ="footcol"> Total </td>    
    </ng-container>
    <ng-container matColumnDef="Presupuesto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="prog"> Presupuesto Programado </th>      
      <td  mat-cell *matCellDef="let row"> {{row.Presupuesto}} </td>  
      <td mat-footer-cell *matFooterCellDef><div class="totalPre">{{getTotalPresupuesto() | currency}} </div></td>          
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="metas"> Acciones </th>      
      <td mat-cell *matCellDef="let row; let rowIndex = index;"> 
        <button mat-raised-button color="primary" (click)="programarMagnitudes()">
          <mat-icon>search</mat-icon>
        </button> 
        <button mat-raised-button color="primary" (click)="guardar()">
          <mat-icon>delete</mat-icon>
        </button>  
      </td>
      <td mat-footer-cell *matFooterCellDef></td>     
    </ng-container>
    <ng-container matColumnDef="ProgPresupuestal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="prog"> Prog. Presupupuestal </th>      
      <td mat-cell *matCellDef="let row; let rowIndex = index;"> 
        <button mat-raised-button color="primary" (click)="programarMagnitudes()">
          <mat-icon>add_box</mat-icon>
        </button> 
        <button mat-raised-button color="primary" (click)="guardar()">
          <mat-icon>search</mat-icon>
        </button>  
      </td>  
      <td mat-footer-cell *matFooterCellDef></td>   
    </ng-container>
    <ng-container matColumnDef="ProgActividades">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="prog"> Prog. Actividades </th>
      <td mat-cell *matCellDef="let row; let rowIndex = index">
        <button mat-raised-button color="primary" (click)="programarIdentificacion()">
          <mat-icon>add_box</mat-icon>
        </button> 
        <button mat-raised-button color="primary" (click)="guardar()">
          <mat-icon>search</mat-icon>
        </button>        
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>    
    <div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </div>
    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="1"></td>
    </tr> -->
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <div style="margin: 1rem; text-align: center;">
    <button mat-raised-button color="primary" (click)="guardar()">Culminar</button>
    <button mat-raised-button color="primary" (click)="guardar()">Enviar</button>
  </div>
</mat-card>
<br>
<div style="margin: 1rem; text-align: center;" class="container-border">
  <button mat-raised-button color="primary" (click)="programarMetas()">Programar Metas</button>  
</div>
