.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 1px 30px;
    // position: absolute;
    // left: 2px;
}
  
.example-radio-button {
    margin: 20px;
}

.requerido-radio-group-label{
    padding-left: 50px;
}

.requerido-radio-button{
    margin: 20px;
}