<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Identificación de Recursos Docente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <u class="textGuide">
            A continuación usted encontrará los campos necesarios para identificar las necesidades de personal CPS que
            requiere la dependencia para ejecutar el Plan
        </u>
        <br><br>
        <form>
            <mat-vertical-stepper>
                <mat-step *ngFor="let step of steps; let index = index; let last = last;">
                    <ng-template matStepLabel>{{step.nombre}}</ng-template>
                    <ng-container>
                        <mat-label *ngIf="step.descripcion != 'NA'">{{step.descripcion}}</mat-label>
                        <br><br>
                        <div class="table-responsive">
                            <table mat-table matSort [dataSource]="step.data">
                                <!-- Nivel -->
                                <ng-container matColumnDef="nivel">
                                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                            placeholder="Nivel" [value]="element.nivel"
                                            [(ngModel)]="element.nivel" [ngModelOptions]="{standalone: true}"
                                            required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                        {{step.footer}}
                                    </td>
                                </ng-container>
                                <!-- Tipo -->
                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <mat-select [disabled]="readonlyTable" class="form-control"
                                                [(ngModel)]="element.tipo" [ngModelOptions]="{standalone: true}"
                                                (selectionChange)="onSelected($event, rowIndex, step.tipo)"
                                                placeholder="Tipo" required>
                                                <mat-option *ngFor="let tipo of step.tipos" [value]="tipo.nombre">
                                                    {{tipo.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                        {{step.footer}}
                                    </td>
                                </ng-container>
                                <!-- Categoria -->
                                <ng-container matColumnDef="categoria">
                                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <mat-select [disabled]="readonlyTable" class="form-control"
                                                [(ngModel)]="element.categoria" [ngModelOptions]="{standalone: true}"
                                                (selectionChange)="onSelectedCategoria($event, rowIndex, step.tipo)"
                                                placeholder="Tipo" required>
                                                <mat-option *ngFor="let categoria of step.categorias"
                                                    [value]="categoria.nombre">
                                                    {{categoria.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                        {{step.footer}}
                                    </td>
                                </ng-container>
                                <!-- Semanas -->
                                <ng-container matColumnDef="semanas">
                                    <th mat-header-cell *matHeaderCellDef> Semanas </th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Semanas" [value]="element.semanas"
                                                [(ngModel)]="element.semanas" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Horas Semanales -->
                                <ng-container matColumnDef="horas">
                                    <th mat-header-cell *matHeaderCellDef> Horas Semanales </th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Horas Semanales" [value]="element.horas"
                                                [(ngModel)]="element.horas" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Total horas -->
                                <ng-container matColumnDef="totalHoras">
                                    <th mat-header-cell *matHeaderCellDef> Total horas</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Total horas" [value]="element.totalHoras"
                                                [(ngModel)]="element.totalHoras" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Meses -->
                                <ng-container matColumnDef="meses">
                                    <th mat-header-cell *matHeaderCellDef> Meses</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Meses" [value]="element.meses" [(ngModel)]="element.meses"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Sueldo Basico -->
                                <ng-container matColumnDef="sueldoBasico">
                                    <th mat-header-cell *matHeaderCellDef> Sueldo Básico</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Sueldo Básico" [value]="element.sueldoBasico"
                                                [(ngModel)]="element.sueldoBasico" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Sueldo Mensual -->
                                <ng-container matColumnDef="sueldoMensual">
                                    <th mat-header-cell *matHeaderCellDef> Sueldo Mensual</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Sueldo Mensual" [value]="element.sueldoMensual"
                                                [(ngModel)]="element.sueldoMensual"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Prima de servicios -->
                                <ng-container matColumnDef="primaServicios">
                                    <th mat-header-cell *matHeaderCellDef> Prima de Servicios</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Prima de Servicios" [value]="element.primaServicios"
                                                [(ngModel)]="element.primaServicios"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Prima de Navidad -->
                                <ng-container matColumnDef="primaNavidad">
                                    <th mat-header-cell *matHeaderCellDef> Prima de Navidad</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Prima de Navidad" [value]="element.primaNavidad"
                                                [(ngModel)]="element.primaNavidad" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Prima de Vacaciones -->
                                <ng-container matColumnDef="primaVacaciones">
                                    <th mat-header-cell *matHeaderCellDef> Prima de Vacaciones</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Prima de Vacaciones" [value]="element.primaVacaciones"
                                                [(ngModel)]="element.primaVacaciones"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Bonificacion por Servicios -->
                                <ng-container matColumnDef="bonificacion">
                                    <th mat-header-cell *matHeaderCellDef> Bonificación por Servicios</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Bonificación por Servicios" [value]="element.bonificacion"
                                                [(ngModel)]="element.bonificacion" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Fondo de Cesantias Publico -->
                                <ng-container matColumnDef="cesantiasPublico">
                                    <th mat-header-cell *matHeaderCellDef> Fondo de Cesantias Publico</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Fondo de Cesantias Publico"
                                                [value]="element.cesantiasPublico"
                                                [(ngModel)]="element.cesantiasPublico"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Fondo de Cesantias Privado -->
                                <ng-container matColumnDef="cesantiasPrivado">
                                    <th mat-header-cell *matHeaderCellDef> Fondo de Cesantias Privado</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Fondo de Cesantias Privado"
                                                [value]="element.cesantiasPrivado"
                                                [(ngModel)]="element.cesantiasPrivado"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Intereses Cesantias -->
                                <ng-container matColumnDef="interesesCesantias">
                                    <th mat-header-cell *matHeaderCellDef> Intereses Cesantias</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Intereses Cesantias" [value]="element.interesesCesantias"
                                                [(ngModel)]="element.interesesCesantias"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Cesantias -->
                                <ng-container matColumnDef="cesantias">
                                    <th mat-header-cell *matHeaderCellDef> Cesantias</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Cesantias" [value]="element.cesantias"
                                                [(ngModel)]="element.cesantias" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Total aportes a Cesantias -->
                                <ng-container matColumnDef="totalCesantias">
                                    <th mat-header-cell *matHeaderCellDef> Total Aportes a Cesantias</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Total Aportes a Cesantias" [value]="element.totalCesantias"
                                                [(ngModel)]="element.totalCesantias"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Total Salud -->
                                <ng-container matColumnDef="totalSalud">
                                    <th mat-header-cell *matHeaderCellDef> Total Salud</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Total Salud" [value]="element.totalSalud"
                                                [(ngModel)]="element.totalSalud" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Fondo de Pensiones Publico -->
                                <ng-container matColumnDef="pensionesPublico">
                                    <th mat-header-cell *matHeaderCellDef> Fondo de Pensiones Público</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Fondo de Pensiones Público"
                                                [value]="element.pensionesPublico"
                                                [(ngModel)]="element.pensionesPublico"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Fondo de Pensiones Privado -->
                                <ng-container matColumnDef="pensionesPrivado">
                                    <th mat-header-cell *matHeaderCellDef> Fondo de Pensiones Privado</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Fondo de Pensiones Privado"
                                                [value]="element.pensionesPrivado"
                                                [(ngModel)]="element.pensionesPrivado"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Total Pensiones-->
                                <ng-container matColumnDef="totalPensiones">
                                    <th mat-header-cell *matHeaderCellDef> Total Pensiones</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Total Pensiones" [value]="element.totalPensiones"
                                                [(ngModel)]="element.totalPensiones"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Total ARL-->
                                <ng-container matColumnDef="totalArl">
                                    <th mat-header-cell *matHeaderCellDef> Total ARL</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Total ARL" [value]="element.totalArl"
                                                [(ngModel)]="element.totalArl" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Caja de compensacion -->
                                <ng-container matColumnDef="caja">
                                    <th mat-header-cell *matHeaderCellDef> Caja de Compensación</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Caja de Compensación" [value]="element.caja"
                                                [(ngModel)]="element.caja" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- ICBF -->
                                <ng-container matColumnDef="icbf">
                                    <th mat-header-cell *matHeaderCellDef> ICBF</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="ICBF" [value]="element.icbf" [(ngModel)]="element.icbf"
                                                [ngModelOptions]="{standalone: true}" required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Total Recurso-->
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell *matHeaderCellDef> Total Recurso</th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index">
                                        <mat-form-field floatLabel="never">
                                            <input [readonly]="readonlyTable" type="text" class="form-control" matInput
                                                placeholder="Total Recurso" [value]="element.total"
                                                [(ngModel)]="element.total" [ngModelOptions]="{standalone: true}"
                                                required>
                                        </mat-form-field>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef class="footer">
                                    </td>
                                </ng-container>
                                <!-- Actions -->
                                <ng-container matColumnDef="acciones">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <button [disabled]="readonlyTable" class="material-icons"
                                            matTooltip="Agregar elemento" matTooltipPosition="right" mat-icon-button
                                            (click)="addElement(step.tipo)">
                                            <mat-icon>add_box</mat-icon>
                                        </button>
                                    </th>
                                    <td mat-cell *matCellDef="let element; let rowIndex = index" class="td-align-right">
                                        <button class="material-icons-delete" matTooltip="Eliminar elemento"
                                            matTooltipPosition="right" mat-icon-button
                                            (click)="deleteElement(rowIndex, step.tipo)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </ng-container>
                    <br><br>
                    <div>
                        <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                            *ngIf="index !== 0" matStepperPrevious (click)="prevStep(index)">Volver</button>
                        <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3" *ngIf="!last"
                            matStepperNext (click)="nextStep(index)">Siguiente</button>
                        <!-- <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)">Atrás</button>
                        <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!formStep.at(index).valid" (click)="nextStep(index)">Siguiente</button>
                        <button *ngIf="last" class="btn btn-primary" [disabled]="!formStep.valid" type="submit">Guardar</button> -->
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </mat-card-content>
    <mat-card-footer style="text-align: center;">
        <mat-card-content>
            <u class="textGuide">
                Para guardar los cambios de clic en guardar de lo contrario seleccione cerrar
            </u>
        </mat-card-content>
        <ng-container>
            <button mat-raised-button style="margin: 10px;" color="primary" type="submit" class="col-3 mt-2 mb-3"
                (click)="ocultarRecursos()">Cerrar</button>
            <button mat-raised-button style="margin: 10px;" color="primary" type="submit" class="col-3 mt-2 mb-3"
                (click)="guardarRecursos()">Guardar</button>
        </ng-container>
    </mat-card-footer>
</mat-card>