<div class="container-border">
  <mat-card class="card-dialog">
    <mat-card-header>
      <mat-card-title>Cargar Soportes</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formEditar">
      <mat-form-field appearance="fill" [style.width.%]="100">
        <mat-label id="nombre-input-label">Nombre</mat-label>
        <input type="text" matInput formControlName="nombre" placeholder="Busque un Archivo" required>
        <!-- <mat-icon matSuffix>create</mat-icon> -->
        <mat-error *ngIf="formEditar.get('nombre').invalid">
          {{getErrorMessage(formEditar.get('nombre'))}}
        </mat-error>
      </mat-form-field>
      <label mat-raised-button class="width-label-upload align-button2" style="margin: 45px 0% 2% 33%;">
        <input type="file" (change)="onChangeDocumento($event.target)">Adjuntar Documento
      </label>
    </form>
  </mat-card>
</div>