<div class="container-border">
  <mat-card class="card-dialog">
    <mat-card-header>
        <mat-card-title>Cargar Soportes</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formEditar">
        <mat-form-field appearance="fill" [style.width.%]="100">
            <mat-label id="nombre-input-label">Nombre</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Ingrese un nombre" required>
            <!-- <mat-icon matSuffix>create</mat-icon> -->
            <mat-error *ngIf="formEditar.get('nombre').invalid">
              {{getErrorMessage(formEditar.get('nombre'))}}
            </mat-error>            
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                  [mat-dialog-close]="formEditar.value"><mat-icon>attach_file</mat-icon>
                  Cargar Soportes
        </button>        
        <mat-card-actions style="text-align: center;">
            <ng-container>
                <button [disabled]="!formEditar.valid" mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3"
                  [mat-dialog-close]="formEditar.value">
                  Guardar
                </button>
              </ng-container>
              <ng-container>
                <button mat-raised-button color="primary" type="submit" class="col-3 mt-2 mb-3" (click)="close()">
                    Cancelar
                </button>
              </ng-container>
        </mat-card-actions>
    </form>
  </mat-card>
</div>
