#ng-container{
    margin-top: 2%;
}

.mat-form-field{
    display: block;
    margin: 2%;
}

.container-border {
    margin-top: 100px;
    border: 1px solid var(--primary);
    padding: 1%;
    border-radius: 15px 15px 15px 15px;
  
}

.card-dialog {
    width: 97%;
}

