<mat-card class="card-oas">
    <mat-card-header>
        <mat-card-title>Seleccione dispositivo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let device of videoDevices">
            <button mat-button color="primary" 
            (click)="selectDevice(device)">{{device.kind}} {{device.label?device.label:''}}</button>
        </div>
        <div *ngIf="videoDevices?videoDevices.length === 0:0">
            <p>No se encontraron dispositivos de lectura</p>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card  class="{{dispositivoActual?'card-oas':'card-oas hidden'}}">
    <mat-card-header>
        <mat-card-title>Lector QR </mat-card-title>
        <!-- <div *ngIf="dispositivoActual"> -->
        <div class="qr-animation" *ngIf="dispositivoActual">            
            <span class="material-icons md-30">qr_code_scanner</span>
        </div>
    </mat-card-header>
    <mat-card-content>
        <qr-scanner
        [debug]="false"
        [canvasWidth]="400"
        [canvasHeight]="400"
        [stopAfterScan]="true"
        [updateTime]="500">
    </qr-scanner>
    </mat-card-content>
</mat-card>
<br>