.qr-animation {
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

.hidden {
    display:none
}

@keyframes slidein {
    from {
        color: var(--primary);
    }
  
    to {
        color: red;
    }
}