.mat-card {
  background-color: #F1F5F8;
}

.wrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
  border: 1px solid blue;
  height: 48px;
  max-height: 96px;
  overflow: auto;
  width: 200px;
}

.selectorPlanStyle {
  width: 75%;
  padding-right: 5%;
}

.selectorVigenciaStyle {
  width: 20%;
}

.align-button-ingresar {
  text-align: center;
}

.textGuide {
  background-color: #ffff;
  border: 1px solid var(--primary);
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.1em;
  padding: 1%;
  text-decoration: none;
  margin-bottom: 1%;
  width: 97%;
}

.meta-verde { 
  background-color: #72ac41;
}

.input-search {
  width: 99%;
  height: 30px;
  border-radius: 5px;
}