.mat-card {
  background-color: #F1F5F8;
}

table {
  width: 100%;
}

th {
  color: white;
  text-align: center;
}

.wrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
  border: 1px solid blue;
  height: 48px;
  max-height: 96px;
  overflow: auto;
  width: 200px;
}

.selectorPlanStyle {
  width: 75%;
  padding-right: 5%;
}

.selectorVigenciaStyle {
  width: 20%;
}

.align-button-ingresar {
  text-align: center;
}

.textGuide {
  background-color: #ffff;
  border: 1px solid var(--primary);
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.1em;
  padding: 1%;
  text-decoration: none;
  margin-bottom: 1%;
  width: 97%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {

    display: table-row;
    text-align: center;
  }

  .mat-cell,
  .mat-header-cell {

    text-align: center;
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }


  .mat-cell {

    text-align: center;
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    white-space: pre-wrap;
  }

  .mat-footer-cell {

    background-color: var(--primary);
    color: white;
    text-align: center;
  }
}

th.mat-header-cell {
  text-align: center;
  padding: 5px 5px 5px 0;
  color: white;
}

.header1 {
  background-color: var(--primary);
}

.header2 {
  background-color: var(--color900);
}

.header3 {
  background-color: var(--color800);
}

.header4 {
  background-color: var(--color700);
}

.header5 {
  background-color: var(--color600);
}

.oscuro {
  background-color: #E7D6D6;
}

.claro {
  background-color: white;
}

.cdk-column-BrechaP {
  padding: 0 10px !important;
}

.cdk-column-Brecha {
  padding: 0 !important;
    
  /*.column-Brecha {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/
  
  .brecha-verde { 
    background-color: #c0e19b;   
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .brecha-amarillo { 
    background-color: #ffff7c;
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .brecha-rojo { 
    background-color: #a36463;
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

