table {
    width: 100%;
}

th {
    color: white;
    text-align: center;
}

.td-align-right{
  text-align: right;
  justify-content: flex-end;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

.button-contratistas{
  margin: 20px;
  padding: 21px 0;
  justify-content: flex-end;
}

#box {
  border: 3px solid;
}

.container {
  width: 200px;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.flex {
  display: flex;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.sameRow {
  border: 3px solid black;
  justify-content: center;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  padding: 10px;
}