table {
    width: 100%;
}

th {
    color: white;
    text-align: center;
}

.td-align-right{
  text-align: right;
  justify-content: flex-end;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
}

.button-contratistas{
  margin: 20px;
  padding: 21px 0;
  justify-content: flex-end;
}
