.container-border {
  margin: 3% 0% 0% 0%;
  border: 1px solid var(--primary);
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
}

.textGuide {
  background-color: #ffff;
  border: 1px solid var(--primary);
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.1em;
  padding: 1%;
  text-decoration: none;
  margin-bottom: 1%;
  width: 77%;
}

.mat-raised-button {
  margin-top: 2%;
}

/* Hacer que la tabla tenga scroll horizontal en pantallas pequeñas */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center !important;
  padding: 8px !important;
}

th {
  color: white;
}

td {
  white-space: nowrap; /* Evita que el texto se envuelva en pantallas pequeñas */
}

/* Para pantallas pequeñas */
@media (max-width: 640px) {
  table {
    font-size: 12px; /* Ajusta el tamaño de fuente */
  }

  th, td {
    padding: 4px; /* Reduce el padding */
  }
}