<mat-card-content class='container'>
    <div class="container-border">
        <h4>Fuentes de apropiación</h4>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="posicion" class="num">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let row" class="num">{{row.posicion}}
                    <!-- <p *ngIf="element.index!=undefined">
                        {{element.index}}
                    </p>
                    <p *ngIf="element.index==undefined">
                        {{rowIndex+1}}
                    </p> -->
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer"></td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef > Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                <td mat-footer-cell *matFooterCellDef> Total Fuentes </td>
            </ng-container>
            <ng-container matColumnDef="presupuesto">
                <th mat-header-cell *matHeaderCellDef > Presupuesto </th>
                <td mat-cell *matCellDef="let row"> {{row.presupuesto}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalPresupuesto() | currency}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef >
                    <button class="material-icons"
                        matTooltip="Agregar elemento" matTooltipPosition="right" mat-icon-button
                        (click)="addElement()">
                        <mat-icon>add_box</mat-icon>
                    </button>
                </th>
                
                <td mat-cell *matCellDef="let row" class="td-align-right">
                    <button mat-icon-button (click)="construirPlan(row._id, row.nombre, row.tipo_plan_id)"><mat-icon>search</mat-icon></button>
                    
                    <button mat-icon-button (click)="inactivar(row)"><mat-icon>delete_outline</mat-icon></button>
               </td>
               <td mat-footer-cell *matFooterCellDef></td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">No se han encontrado resultados para la búsqueda "{{input.value}}"</td>
            </tr> -->
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <br><br>
    <!-- Tabla Listado Soportes -->      
</mat-card-content>
<mat-card-content class='container'>
<div class="container-border">
    <h4>Soportes</h4>
    <table mat-table [dataSource]="dataSourceSoportes">
        <ng-container matColumnDef="posicion" class="num">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let row" class="num">{{row.posicion}}                        
            </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef > Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>                
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef > Acciones                
            </th>                    
            <td mat-cell *matCellDef="let row" class="td-align-right">
                <button mat-icon-button (click)="revisarDocumento(row)"><mat-icon>search</mat-icon></button>                  
                
           </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnSoportes"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnSoportes;"></tr>
        <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No se han encontrado resultados para la búsqueda "{{input.value}}"</td>
        </tr> -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>            
</div>
</mat-card-content>

<button mat-raised-button color="primary" (click)="regresar()">
    Regresar
</button>


