container-border{
    border: 1px solid var(--primary);
    // border-top: 0px;
    padding: 1%;
    border-radius: 15px 15px 15px 15px;
}

.mat-raised-button{
    display: block !important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  