<!-- <app-crear-plan></app-crear-plan> -->
<mat-card class="card-oas">
    <mat-card-title>
        <mat-card-header class="title-home">
            <mat-card-title>El sistema de planeación le da la bienvenida</mat-card-title>
        </mat-card-header>
    </mat-card-title>
    <mat-card-content>
        <u class="textGuide">
            Para iniciar su consulta diríjase al botón lateral izquierdo en donde encontrará el listado de menús que componen el aplicativo.
        </u>
    </mat-card-content>
</mat-card>