<!-- COMPONENTE PLANES ACCIÓN FUNCIONAMIENTO -->
<app-funcionamiento [formFechas]="formFechas" [vigencias]="vigencias"></app-funcionamiento>
<br><br>
<!-- COMPONENTE PLANES ACCIÓN INVERSIÓN -->
<app-inversion [formFechas]="formFechas" [vigencias]="vigencias"></app-inversion>
<mat-card class="notice" *ngIf="reporteHabilitado && tipoSelected">
  <p>Señor usuario, los reportes para el {{periodo.ParametroId.Nombre}} de la vigencia {{vigencia.Nombre}} ya
    se encuentran habilitados.</p>
</mat-card>
